.side_bar{
    height: 10vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.685);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem;
}